.Field {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Label {
  font-size: 20px;
  color: #3d3c3b;
}

.Input {
  flex: 1;
  padding: 14px 16px;
  border-radius: 12px;
  border: 2px solid #a8a6a4;
  font-size: 20px;
  outline: none;
}

.Field.Active .Label {
  color: #1f83f4;
}

.Field.Active .Input {
  border-color: #1f83f4;
}

.Field.Error .Input {
  border-color: #da1a1a;
}

.Error {
  font-size: 20px;
  color: #da1a1a;
}
